# Ignore node modules
client/node_modules/
server/node_modules/

# Ignore environment files
client/.env
server/.env

# Ignore build folders (if any)
client/build/

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.env

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?